 /*去除內邊距,沒有鏈接下划線*/


    /*最外圍的div*/
    #container {
      width: 984px;
      height: 300px;
      overflow: hidden;
      position: relative; /*相對定位*/
      padding: 0 auto;
    }

    /*包含所有圖片的<div>*/

    #list {
      width: 4200px; /*7張圖片的寬: 7*600 */
      min-height: 300px;
		height:100%;
      position: relative; /*絕對定位*/
	  margin-left:200px;
	  display:flex;
    }

    /*所有的圖片<img> 的大小*/
    #list img {
      width: 600px;
      height: 100%;
    }

    /*包含所有圓點按鈕的<div>*/
    #pointsDiv {
      position: absolute;
      height: 20px;
      width: 100px;
	  margin:0 45%;
      z-index: 2;
      bottom: 20px;    
	  display: flex;
    justify-content: center;
	background-color:#0000b3;
	border-radius:10px;
    align-items: center;
    }

    /*所有的圓點<span>*/

    #pointsDiv span {
      cursor: pointer;
      float: left;
      border: 1px solid #fff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #000000;
      margin:0 2.5px;
    }

    #pointsDiv .on {
      background: #ffffff;
    }


    .arrow {
      cursor: pointer;
      font-weight: bold;
      width: 60px;
      height: 60px;
      position: absolute;
      z-index: 2;
      top: 140px;
    }

    
    .arrow:hover {
        filter: invert(1);
    }

    
    #container:hover .arrow {
      display: block;
    }

    #prev {
      left: 250px;
    }

    #next {
      right: 250px;
    }