
.m-ho{width: 1000%; height: 100%; 
	position: absolute;
	transition:1.5s;
}
.m-cont:hover .m-L,.m-cont:hover .m-R{opacity: 1;
	z-index:3;}
.m{    
	top: 50%;
    left: 50%;
    margin-top: -25px;
}
.m-L{
	background-image: url("../img/left.png");
	background-repeat:no-repeat;
	margin-left: -40%;
	opacity: 0;
	cursor:pointer;
	width:50px;height:50px;
	position:absolute;
}
.m-R {
	
	background-image: url("../img/right.png");
	background-repeat:no-repeat;
	margin-left: 36%;
	opacity: 0;
	cursor:pointer;
	width:50px;height:50px;
	position:absolute;
}

.m-L:hover ,.m-R:hover{filter: invert(1);}



.m-i{width:6000px;position:relative;display:block;min-height:300px;height:100%;left:-50vw;}


.menu .m-ho .m-img{display:inline-block;}
.m-img{
	width:65vw;max-width:1200px;min-width:600px;position: relative;
	overflow:hidden;height:100%;min-height:300px;vertical-align:text-top;text-align:center;}
	.m-img a{display:inline-block;}
	.m-img:hover a img{opacity:.7;}
	.m-img a img{max-width:1200px;width:65vw;min-width:600px;max-height:600px;height:30vw;min-height:300px;opacity:1;background-repeat: no-repeat;}


