@media screen and (min-width:768px)and(max-width:1024px)
{
	
}
/*===================ipad==========================*/


@media screen and (max-width:767px){
	.header-in{width:100%;max-width:767px;}
	.logo{margin-left:80px;}
	.t-menu{
	display:block;
    width: 100px;
	height:0px;
    margin:55px 50px 0 0;
	opacity:0;background-color:#ffffff;
	}
	.box_a{
		height:0px;
		opacity:0;
		background-color:#ffffff;}
		.box_a a{cursor:default;}
	.box_a:hover {filter:invert(20%);}
	.me-innt{margin-left:-150px;}
	.C{width:40px;height:40px;background-color:rgba(0,16,64,0.4);}
	.menu-0,.menu-1,.menu-a,.menu-b,.menu-c,
	.menu-d,.menu-e,.menu-f,.f-menu,.f-msg,
	.msg,.body-b,.footer-in,.menu-g
	{width:768px;margin-left:0px;overflow:hidden;}
	.menu-1 div,.menu-b div,.menu-d div{width:768px; display:flex;}
	.menu-1 div a,.menu-b div a,.menu-d div a{margin:0 15px 20px;}
	.G_H img{width: 700px;height: 400px;margin: -50px 0 0 5px;}
	.G_hover{width:360px;}
	.a1{width:360px;}
	.a2{padding-left: 360px;width:360px;}
	.f-msg{padding-left:40px;}
	.f-menu{margin-left:80px;}
 .footer .footer-in,.footer .page-top,.footer .page-text{width:768px;}
 .Btm{margin-right:140px;}
 
 
 /*==================index===========================*/
 
 .body,.bo_dyb,.f-menu{width:768px;}
 .p2_m_a{width:768px;}
 .st_ms{width:650px;padding:0 20px;}
 
 /*=======================news=====================*/
 
 .b_p.b_m{width:768px;margin:0;}
.b_m.p3_m_a{width:768px;}
.b_m.p3_m_a div{width:768px;}
.b_m.p3_m_a div div{padding:15px 0 10px 30px;width:700px;}
.b_m.p3_m_a div div p{width:330px;height:auto;font-size:18px;padding:15px 0 0 15px;} 
 
 /*=====================Online=====================*/
 /*=====================APP=========================*/
 
 .me-a{
    height: 230px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
	}
	.me-b{margin:0 20px;}
 .div_margin li{width:200px;height:40px;}
 .p6_m{width:740px;}
 .dd_me{padding-left: 20px;
    width: 700px;
    height: 130px;}
 
 /*===================Sev=========================*/
 
 .p5_m_p{width:740px;}
 .p5mp{width:740px;}
 
 /*===================other=======================*/
 
}
/*===================iphone=======================*/


.C{
	right: 90px;
	margin: 10px 0 0 0;
    float: right;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
	}
.A{
	width:20px;height:2px;margin:10px 10px;
	background-color:white;transition:0.5s ease;transform:translateY(0px) rotate(0deg);
}
.B{
	width:20px;height:2px;margin:15px 10px;
	background-color:white;transition:0.5s ease;transform:translateY(0px) rotate(0deg);
}
.A_a{
  transform:translateY(9px) rotate(45deg);
}
.B_b{transform:translateY(-9px) rotate(-45deg);}
	.T_m{
		height:auto;
		overflow-y:visible;
	transition:0.5s ease;
	opacity:1;
	}
	.T_m .box_a{height:50px;opacity:1;}
	.T_m .box_a a{cursor: pointer;}